@use "../color-palette" as palette;
@use "../mixins/jog-route" as *;

.explore {
  grid-column: 1 / -1;

  h3 {
    margin-bottom: 2.5rem;
  }
}

.explore__routes {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 20px;

  .jog-route {
    @include jog-route;
  }
}
