@use "../color-palette" as palette;

.lap {
  padding: 1.25rem 1.5rem;
  border: 2px solid palette.$dark;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  cursor: pointer;
  font-size: 1.25rem;

  &:hover {
    border-color: palette.$primary;
  }

  &.lap--dragging {
    opacity: 0.75;
    background-color: palette.$secondary;
    color: white;
  }

  .label {
    font-weight: 600;

    &:after {
      content: ':';
      margin-right: 0.25em;
    }
  }

  h3 {
    font-size: 3rem;
    text-transform: uppercase;
  }
}
