@use "../color-palette" as palette;

$easeOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$easeInOut: cubic-bezier(0.42, 0, 0.58, 1);

@mixin transform($transform...) {
  -webkit-transform: $transform;
  transform: $transform;
}

@mixin bezier($bezier) {
  -webkit-animation-timing-function: $bezier;
  animation-timing-function: $bezier;
}

@keyframes swoop-in-left {
  0% {
    opacity: 0;
    @include bezier($easeOutCubic);
    @include transform(scaleX(1.5) translate3d(-400px, 0, 0));
  }
  40% {
    opacity: 1;
    @include bezier($easeInOut);
    @include transform(scaleX(1.2) translate3d(0, 0, 0));
  }
  65% {
    @include transform(scaleX(1) translate3d(20px, 0, 0));
  }
  100% {
    @include bezier($easeInOut);
    @include transform(scaleX(1) translate3d(0, 0, 0));
  }
}

.route-lap {
  padding: 0.5em 1.5em 0.5em 1em;
  border: 1px solid palette.$secondary;
  position: relative;
  font-size: 1.25rem;
  background-color: palette.$light;
  cursor: pointer;
  animation: swoop-in-left 0.25s forwards;

  .order {
    position: absolute;
    bottom: 2px;
    right: 0;
    font-size: 1.5em;
    color: palette.$darker;
  }

  &:after {
    content: '❌';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    font-size: 1.5em;
    transition: opacity 0.15s ease-in-out;
    background-color: palette.$danger;
  }

  &:hover:after {
    opacity: 0.9;
  }
}
