@use "../color-palette" as palette;

.route-planner {
  display: grid;
  grid-template-rows: auto 1fr;
}

.drop-zone {
  padding: 1em;
  border: 1px dashed palette.$dark;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 100px;
  grid-gap: 15px;
}

.drop-zone--highlight {
  background-color: palette.$primary--light;

  > .route-lap {
    background-color: palette.$light;
  }
}

.route-lap {
  padding: 0.5em 1em;
  border: 1px solid palette.$secondary;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;

  h3 {
    margin: 0;
  }
}
