@use "../color-palette" as palette;

.route-planner {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-row-gap: 15px;
}

.drop-zone {
  padding: 1.5rem;
  border: 1px dashed palette.$dark;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-flow: dense;
  grid-auto-rows: min-content;
  grid-gap: 25px;
  position: relative;
  background-color: white;
  transition: background-color 0.15s ease-in-out;

  .route-lap--s {
    grid-column: 1 / 2;
    background-color: palette.$success--lighter;
  }

  .route-lap--m {
    grid-column: 2 / 3;
    background-color: palette.$warning--lighter;
  }

  .route-lap--l {
    grid-column: 3 / 4;
    background-color: palette.$orange;
  }

  .route-lap--xl {
    grid-column: 4 / 5;
    background-color: palette.$danger--lighter;
  }

  .route-lap--xxl {
    grid-column: 5 / 6;
    background-color: palette.$danger;
  }
}

.drop-zone--eligible:after,
.drop-zone--ineligible:after,
.drop-zone--highlight:after {
  padding: 1em;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  opacity: 0.8;
}

.drop-zone--eligible {
  background-color: palette.$success;

  &:after {
    content: '👌';
  }
}

.drop-zone--ineligible {
  background-color: palette.$danger;

  &:after {
    content: '⛔';
  }
}

.drop-zone--highlight:after {
  content: 'You can drop the lap here';
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
}

.route-planner__length {
  font-size: 1.75em;
  font-weight: 600;

  .label {
    font-weight: 500;

    &:after {
      content: ':';
      margin-right: 0.25em;
    }
  }
}
