@use "../color-palette" as palette;

$easeOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$easeInOut: cubic-bezier(0.42, 0, 0.58, 1);

@mixin transform($transform...) {
  -webkit-transform: $transform;
  transform: $transform;
}

@mixin bezier($bezier) {
  -webkit-animation-timing-function: $bezier;
  animation-timing-function: $bezier;
}

@keyframes swoop-in-left {
  0% {
    opacity: 0;
    @include bezier($easeOutCubic);
    @include transform(scaleX(1.5) translate3d(-400px, 0, 0));
  }
  40% {
    opacity: 1;
    @include bezier($easeInOut);
    @include transform(scaleX(1.2) translate3d(0, 0, 0));
  }
  65% {
    @include transform(scaleX(1) translate3d(20px, 0, 0));
  }
  100% {
    @include bezier($easeInOut);
    @include transform(scaleX(1) translate3d(0, 0, 0));
  }
}

.route-lap {
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  position: relative;
  text-align: center;
  text-shadow: -2px 2px palette.$dark;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.02);
  color: white;
  cursor: pointer;
  animation: swoop-in-left 0.25s forwards;

  h4 {
    font-size: 3rem;
    text-transform: uppercase;
  }

  .order {
    padding: 0.5em 0.75em;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    right: 3px;
    transform: translate(50%, -50%);
    background-color: palette.$darker;
    color: white;
    font-weight: 600;
    line-height: 1.15;
    text-shadow: none;
    z-index: 1;
  }

  &:after {
    content: '❌';
    border-radius: 5px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    font-size: 1.35em;
    text-shadow: none;
    transition: opacity 0.15s ease-in-out;
    background-color: palette.$danger;
  }

  &:hover:after {
    opacity: 0.9;
  }
}
