@use "../color-palette" as palette;

@mixin jog-route {
  padding: 1.5rem;
  border: 1px solid palette.$dark;
  display: flex;
  flex-direction: column;
  grid-gap: 0.75em;
  background-color: white;

  > *:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}
