// color palette
$primary: #17bebb;
$primary--light: #92f2f0;
$secondary: #ff8552;
$secondary--light: #ffb899;
$light: #fffbfa;
$gray: #828a95;
$dark: #1c1d21;
$darker: #121619;
$danger: #f03a47;
$success: #109648;
$warning: #f6ae2d;
